<h2 class="mat-h2 w3-center" style="margin-top: 24px;">{{title}}</h2>
<mat-grid-list [cols]="itemsPerRow" [rowHeight]="rowHeight" gutterSize="8px">
    <mat-grid-tile *ngFor="let product of finalProducts">
        <a style="display: block; height: 100%; width: 100%;" [routerLink]="['/product', product.ItemId]">
            <div style="height: 80%; width: 100%;" class="grow-on-hover">
                <img [appImageSource]="bucketUrl + product.Images.path + product.Images.list[0].name"
                    [width]="300" style="height: 100%; margin: auto">
            </div>
            <div class="w3-center w3-padding">{{product.Title[lang]}}</div>
        </a>
    </mat-grid-tile>
</mat-grid-list>
