<div *ngIf="preferences != null && basket != null" >
    <h1 class="w3-center" i18n="Heading for final order review page@@Review">Review</h1>
    <div class="w3-row">
        <div class="w3-col l6">
            <app-basket-items [basketItems]="basket.Items" [lang]="lang" [editable]="false"
                [preferences]="preferences">
            </app-basket-items> 

            <div class="w3-margin-top">
                <b i18n="@@Delivery">Delivery:</b> <span class="price"> {{basket.Costs[preferences.countryCode][preferences.deliveryMethod].payBeforeDelivery.delivery[preferences.currency.chosen.toLowerCase()] | appCurrency: preferences.currency.chosen}}</span><br>
                <ng-container *ngIf="basket.Costs[preferences.countryCode][preferences.deliveryMethod].payBeforeDelivery.discount[preferences.currency.chosen.toLowerCase()] > 0">
                    <b i18n="@@Discount">Discount:</b> 
                    <span class="price"> {{basket.Costs[preferences.countryCode][preferences.deliveryMethod].payBeforeDelivery.discount[preferences.currency.chosen.toLowerCase()] | appCurrency: preferences.currency.chosen}}</span><br>
                </ng-container>

                <b i18n="@@Subtotal">Subtotal:</b> <span class="price"> {{basket.Costs[preferences.countryCode][preferences.deliveryMethod].payBeforeDelivery.subTotal[preferences.currency.chosen.toLowerCase()] | appCurrency: preferences.currency.chosen}}</span><br>
                <b i18n="@@Total">Total:</b> <span class="price"> {{basket.Costs[preferences.countryCode][preferences.deliveryMethod].payBeforeDelivery.total[preferences.currency.chosen.toLowerCase()] | appCurrency: preferences.currency.chosen}}</span><br>
            </div>

        </div>

        <div class="w3-col l6 w3-padding w3-card w3-margin-top" *ngIf="customer != null">
            <h2 i18n="@@OrderDetails">Order Details</h2> 
            <span>{{customer.firstName}}</span><br> 
            <span>{{customer.email}}</span><br>  
            <span>{{customer.number}}</span><br>
            <ng-container *ngIf="preferences.extraCheckoutFields">
                <ng-container *ngFor="let field of preferences.extraCheckoutFields">
                    <ng-container *ngIf="customer[field.name]">
                        <span>{{field.text[lang]}}</span>:<span>{{customer[field.name]}}</span><br>
                    </ng-container>
                </ng-container>
            </ng-container>
            <br>
            
            <span i18n="where to post package@@PostTo">Post To:</span><br>
            <span>{{customer.firstName}}</span><br>
            <span>{{customer.address1}}</span><br>
            <span [hidden]="customer.address2 == null">{{customer.address2}}<br></span> 
            <span>{{customer.city}}</span><br>
            <span>{{customer.postCode}}</span><br>  
            <span>{{preferences.countryCode | countryCode : preferences.lang.chosen}}</span><br> 
        </div>
    </div> 

    <form #commentsForm="ngForm" class="w3-margin-top">
        <mat-form-field style="width: 50%" class="w3-mobile" >
            <mat-label i18n="Prompt to leave a comment@@LeaveComment">Leave a comment</mat-label>
            <textarea matInput  rows="2" #comment maxlength="500" name="comments" [(ngModel)]="customerComments"></textarea>
            <mat-hint align="end">{{comment.value.length}} / 500</mat-hint>
        </mat-form-field>
    </form>
    
    <div  style="width: 300px; overflow: hidden" class="w3-mobile w3-margin-top">
        <ng-container *ngFor="let payment of paymentTypes">
            <ng-container [ngSwitch]="payment.name">
                <ng-container *ngIf="(payment.supportedCurrencies | indexOf : preferences.currency.chosen) >= 0">
                    <app-cib *ngSwitchCase="'cib'" [config]="payment" 
                            (orderConfirmed)="onOrderConfirmed()"
                            [lang]="preferences.lang.chosen"
                            [comments]="customerComments">
                    </app-cib> <br>
                </ng-container>

                <ng-container *ngIf="(payment.supportedCurrencies | indexOf : preferences.currency.chosen) >= 0">
                    <app-paypal *ngSwitchCase="'paypal'" [config]="payment" [lang]="preferences.lang.chosen"
                                (orderConfirmed)="onOrderConfirmed()"
                                [comments]="customerComments">
                    </app-paypal><br>
                </ng-container>

                <ng-container *ngIf="(payment.supportedCurrencies | indexOf : preferences.currency.chosen) >= 0">
                    <app-bank-transfer *ngSwitchCase="'bankTransfer'" [lang]="preferences.lang.chosen"
                                        (orderConfirmed)="onOrderConfirmed()"
                                        [comments]="customerComments">
                    </app-bank-transfer>
                </ng-container>
                <ng-container *ngIf="basket.Costs[preferences.countryCode][preferences.deliveryMethod].hasOwnProperty('payOnDelivery')">
                    <app-pay-on-delivery *ngSwitchCase="'payOnDelivery'" (orderConfirmed)="onOrderConfirmed()"
                        [lang]="preferences.lang.chosen"
                        [totalCost]="basket.Costs[preferences.countryCode][preferences.deliveryMethod].payOnDelivery.total[preferences.currency.chosen.toLowerCase()] | appCurrency: preferences.currency.chosen"
                        [extraCost]="basket.Costs[preferences.countryCode][preferences.deliveryMethod].payOnDelivery.total[preferences.currency.chosen.toLowerCase()] - 
                                            basket.Costs[preferences.countryCode][preferences.deliveryMethod].payBeforeDelivery.total[preferences.currency.chosen.toLowerCase()] 
                                            | appCurrency: preferences.currency.chosen"
                        [comments]="customerComments">
                    </app-pay-on-delivery>
                </ng-container>
            </ng-container>
        </ng-container>
        <br><br>
        
    </div>
    <br><br>
</div>

