<ng-container *ngIf="product != null">

  <ngx-slick-carousel  #slickModal="slick-carousel" [config]="slickConfig" 
      style="width: 100%;" 
      (afterChange)="onCarouselEvent($event)"
      (init)="onCarouselEvent($event)"
      [style.height.px]="carouselHeight + 10">
      <ng-container *ngFor="let imgName of product.Images.list" >
        <div  ngxSlickItem *ngIf="imgName.type == 'product'"
                style="width:100%; overflow-y: hidden;" [style.height.px]="carouselHeight">

            <img  [appLazyLoad]="basketUrl + product.Images.path + imgName.name | imageSource : 700" 
                  class="w3-center"
                  style="width:100%; height:auto;"> 
        </div>
      </ng-container>
  </ngx-slick-carousel>

  <h2 class="w3-margin-top">{{product.Title[siteLang]}}</h2>

  <div *ngIf="product.Price.original.discountEnabled && product.Quantity > 0" 
        style="text-decoration: line-through;">
        {{ product.Price.original[currencyPref.chosen.toLowerCase()] | currency : currencyPref.chosen}}
  </div>

  <div #price class="my-theme-primary">
    {{ product.Price[currencyPref.chosen.toLowerCase()] | currency : currencyPref.chosen}}
  </div>
  <ng-template #OutOfStock>
      <span i18n="@@OutOfStock" class="my-theme-warn">Out Of Stock</span>
  </ng-template>
  <br>

  <app-currency-chooser *ngIf="currencyPref != null" [chosen]="currencyPref.chosen" [available]="currencyPref.available"
                  position="left" (currencyChange)="onCurrencyChange($event)">
  </app-currency-chooser>

  <button mat-raised-button *ngIf="product.Quantity > 0; else OutOfStock" 
          color="primary" i18n="@@AddToBasket" (click)="addToBasket()"
          style="width: 180px">
    Add To Basket
  </button><br><br>

  <!-- Selectable variants appear here-->
  <ng-container *ngIf="product.Quantity > 0;">
    <ng-container *ngFor="let variant of product.Variants.variants; index as i">
      <mat-form-field>
        <mat-label>{{variant.text[siteLang]}}</mat-label>
        <mat-select matNativeControl [(value)]="pickedSpec[i]" 
            (selectionChange)="determineSelectableItems(); updateProductPrice()">
          <mat-option *ngFor="let option of variant.options; index as subIndex" [value]="option" 
            [disabled]="!option.isSelectable">
            {{option.text[siteLang]}}
            <span *ngIf="product.TrackStock && !option.isSelectable">
              (<span i18n="@@OutOfStock">Out Of Stock</span>)
            </span>
          </mat-option>
        </mat-select>
      </mat-form-field><br>
    </ng-container><br><br>
  </ng-container>

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title i18n="@@ProductDescription">
          Description
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div [innerHtml]="product.Description[siteLang]"></div>
    </mat-expansion-panel>
    <ng-container *ngFor="let doc of product.Documents">
      <mat-expansion-panel *ngIf="doc.lang == siteLang" [appDocument]="doc.id" [storeId]="storeId"
        [titleRef]="title" [contentRef]="content">
          <mat-expansion-panel-header >
            <mat-panel-title #title></mat-panel-title>
          </mat-expansion-panel-header>
          <div #content></div>
      </mat-expansion-panel>
    </ng-container>
  </mat-accordion>
  <div style="height:200px"></div>
</ng-container>
