ngx-slick-carousel{
    transition: height 0.5s;
}

mat-accordion > *{
    max-width: 500px;
}

.selected{
	border: 5px solid black;
}

.hoverable{
	cursor:pointer;
}

/* takes care of images in documents */
:host ::ng-deep mat-expansion-panel img{
    max-width: 100%;
}