<header [ngSwitch]="screenState">

    <!--Menu for hierarchy-->
    <mat-menu #hierarchyMenu="matMenu" yPosition="below">
        <ng-template matMenuContent let-sub="sub">
            <button mat-menu-item *ngFor="let item of sub">
               {{item.text.en}}
            </button>
        </ng-template>
    </mat-menu>

    <!--Desktops-->
    <mat-toolbar color="primary" *ngSwitchCase="'wideScreen'" class="center">
            <a [routerLink]="['/']" style="height:100%"> <img src="assets/fixed/header/images/logo.jpg" style="height: 100%" 
                        class="w3-padding w3-circle"></a>
            
            
            <ng-container *ngFor="let item of productHierarchy; index as i">
                <!-- Show only first two items in first level hierarchy-->
                <a mat-button color="accent" *ngIf="i < 2 && !item.hasOwnProperty('sub')"
                    [routerLink]="['category', item.name]">
                    {{item.text.en}}
                </a>
                <button *ngIf="i < 2 && item.hasOwnProperty('sub')" mat-button color="accent" 
                    [matMenuTriggerFor]="hierarchyMenu" [matMenuTriggerData]="item">
                    <span>{{item.text.en}}</span>
                    <mat-icon color="accent">
                        keyboard_arrow_down
                    </mat-icon>
                </button>
            </ng-container>        
            
    </mat-toolbar>

    <!-- View for tablet devices-->
    <!--mat-toolbar color="primary" *ngSwitchCase="'tablet'">
        <a [routerLink]="['/']" style="height:100%"> 
            <img src="assets/images/logo.jpg" style="height: 100%" class="w3-padding w3-circle">
        </a>
        <button mat-button color="accent" [matMenuTriggerFor]="clothingMenu">
            <span i18n="@@Clothing">Clothing</span>
            <mat-icon color="accent">
                keyboard_arrow_down
            </mat-icon>
        </button>

        <button mat-button color="accent" [matMenuTriggerFor]="accessoriesMenu">
            <span i18n="@@Accessories">Accessories</span>
                <mat-icon color="accent">
                    keyboard_arrow_down
                </mat-icon>
        </button>
        <a mat-button color="accent" [routerLink]="['blog', 'list']">Blog</a> 
        <span class="fill-remaining-space"></span> 
        <a mat-icon-button [routerLink]="['/basket']">
            <mat-icon color="accent" [matBadge]="basketNumber" matBadgePosition="below after" class="basketNum">
                shopping_basket
            </mat-icon>
        </a>
        <a mat-icon-button class="mobile-header-icon" [routerLink]="['/contact']">
            <mat-icon color="accent">email</mat-icon>
        </a>
        <button mat-icon-button  [matMenuTriggerFor]="appMenu"><mat-icon color="accent">
            more_vert</mat-icon>
        </button>
    </mat-toolbar -->

    <!-- Mobile Screens-->
    <!--mat-toolbar color="primary" *ngSwitchDefault>
        <a [routerLink]="['/']" style="height:100%">
             <img src="assets/images/logo.jpg" style="height: 100%" class="w3-padding w3-circle">
        </a>
        <span class="fill-remaining-space"></span>
        
        <a mat-icon-button [routerLink]="['/basket']" class="mobile-header-icon" >
            <mat-icon color="accent" [matBadge]="basketNumber" matBadgePosition="below after" class="basketNum">
                shopping_basket
            </mat-icon>
        </a>
        <a mat-icon-button class="mobile-header-icon" [routerLink]="['/contact']">
            <mat-icon color="accent">email</mat-icon>
        </a>
        <button mat-icon-button class="mobile-header-icon test_menu_icon" (click)="toggleMenu()">
            <mat-icon color="accent">
                menu
            </mat-icon>
        </button>
    </mat-toolbar-->
</header>


