<header [ngSwitch]="screenState" *ngIf="configImages != null">

    <!--Menu for hierarchy-->
    <mat-menu #hierarchyMenu="matMenu" yPosition="below">
        <ng-template matMenuContent let-item="item">
            <a mat-menu-item *ngFor="let child of item.sub"
                [routerLink]="['category', item.name, child.name]">
               {{child.text[lang]}}
            </a>
        </ng-template>
    </mat-menu>

    <!--Desktops-->
    <mat-toolbar color="primary" *ngSwitchCase="'wideScreen'" class="center">
            <a [routerLink]="['/']" style="height:100%"> 
                <img [src]="'logo' | flowImage : configImages.list : bucketUrl + configImages.path" 
                    style="height: 100%" class="w3-padding w3-circle">
            </a>
                       
            <ng-container *ngFor="let item of productHierarchy; index as i">
                <!-- Show only first two items in first level hierarchy-->
                <a mat-button *ngIf="i < 2 && item.sub.length == 0"
                    [routerLink]="['category', item.name]">
                    {{item.text[lang]}}
                </a>
                <button *ngIf="i < 2 && item.hasOwnProperty('sub')" mat-button
                    [matMenuTriggerFor]="hierarchyMenu" [matMenuTriggerData]="{item: item}">
                    <span>{{item.text[lang]}}</span>
                    <mat-icon color="accent">
                        keyboard_arrow_down
                    </mat-icon>
                </button>
            </ng-container>   
            
            <span class="fill-remaining-space"></span>

            <a mat-icon-button [routerLink]="['/basket']" class="mobile-header-icon" >
                <mat-icon color="accent" [matBadge]="basketCount > 0? basketCount: null" matBadgePosition="below after">
                    shopping_basket
                </mat-icon>
            </a>
            <a mat-button i18n="@@ContactUs" [routerLink]="['/contact']">Contact us</a>
            <a mat-button i18n="@@AboutUs" [routerLink]="['/about']">About</a>
            
    </mat-toolbar>


    <!-- Mobile Screens-->
    <mat-toolbar color="primary" *ngSwitchDefault>
        <a [routerLink]="['/']" style="height:100%">
             <img [src]="'logo' | flowImage : configImages.list : bucketUrl + configImages.path" 
                    style="height: 100%" class="w3-padding w3-circle">
        </a>
        <span class="fill-remaining-space"></span>
        
        <a mat-icon-button [routerLink]="['/basket']" class="mobile-header-icon">
            <mat-icon color="accent" [matBadge]="basketCount > 0? basketCount: null" matBadgePosition="below after">
                shopping_basket
            </mat-icon>
        </a>
        <a mat-icon-button class="mobile-header-icon" [routerLink]="['/contact']">
            <mat-icon color="accent">email</mat-icon>
        </a>
        <button mat-icon-button class="mobile-header-icon test_menu_icon" (click)="onMenuButtonClicked()">
            <mat-icon color="accent">
                menu
            </mat-icon>
        </button>
    </mat-toolbar>
</header>


