<div [ngClass]="theme">
  <app-header (menuButtonClicked)="onMenuButtonClickedInNav()" [lang]="siteLanguage"></app-header>
  <mat-sidenav-container>
    <mat-sidenav [(opened)]="sideBarVisible" [mode]="sideBarMode" [position]="'start'">
      <app-side-bar [lang]="siteLanguage" [screenType]="currentView"></app-side-bar>
    </mat-sidenav>
    <mat-sidenav-content>
      <div id="router-container" class="w3-content">
        <router-outlet></router-outlet>
      </div>
      <app-footer [lang]="siteLanguage"></app-footer>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>