<!-- For hierarchies that have children -->
<ng-container *ngIf="currentHierarchy != null ">
    <h1 mat-title class="w3-center">{{currentHierarchy.text[siteLang]}}</h1>
    <mat-grid-list *ngIf="currentHierarchy.hasOwnProperty('sub'); else lastChild" 
            [cols]="numOfItemsPerRow" [rowHeight]="rowHeight" gutterSize="8px">
        <mat-grid-tile *ngFor="let child of currentHierarchy.sub">
            <a  [routerLink]="child.name" class="w3-display-container" style="height:100%; width: 100%">
                <img src="/assets/category/door.jpg"
                    style="height: 100%; width: auto">
                <span class="w3-display-middle mat-h2 category-text">{{child.text[siteLang]}}</span>
            </a>
        </mat-grid-tile>
    </mat-grid-list>

    <!-- For hierarchies that don't have children -->
    <ng-template #lastChild>
        <mat-grid-list [cols]="numOfItemsPerRow" [rowHeight]="rowHeight" gutterSize="8px">
            <mat-grid-tile *ngFor="let product of categoryItems">
                <a style="height: 100%; width: 100%; display: block" [routerLink]="['/product', product.ItemId]">
                    <div class="grow-on-hover" style="height: 80%; width: 100%; ">
                        <img [appImageSource]="bucketUrl + product.Images.path + product.Images.list[0].name"
                            [width]="300" style="height: 100%; width: auto; margin: auto; display:block">
                    </div>
                    <div class="w3-center"><b>{{product.Title[siteLang]}}</b><br>{{product.Price.huf | currency : 'HUF'}}</div>
                </a>
            </mat-grid-tile>
        </mat-grid-list>
    </ng-template>
</ng-container>
