<!-- For hierarchies that have children -->
<ng-container *ngIf="currentHierarchy != null ">
    <mat-grid-list *ngIf="currentHierarchy.hasOwnProperty('sub'); else lastChild" 
            [cols]="2" rowHeight="300px" gutterSize="8px">
        <mat-grid-tile *ngFor="let child of currentHierarchy.sub" [style.background]="'yellow'">
            <a mat-button [routerLink]="child.name">{{child.text.en}}</a>
        </mat-grid-tile>
    </mat-grid-list>

    <!-- For hierarchies that don't have children -->
    <ng-template #lastChild>
        <mat-grid-list 
            [cols]="3" rowHeight="300px" gutterSize="8px">
        <mat-grid-tile *ngFor="let product of categoryItems">
            <img [appImageSource]="bucketUrl + product.Images.path + product.Images.list[0].name"
                [width]="300" style="height: 100%; width: auto; margin: auto">
        </mat-grid-tile>
    </mat-grid-list>
    </ng-template>
</ng-container>
