<div style="min-height: 200px;margin: -16px -16px 0px -16px" 
    class="w3-display-container" 
    > 
    <img [appLazyLoad]="imgSrc | imageSource : 1000"
      style="width: 100%; height: auto;" >
    <h1 class="w3-display-topmiddle w3-center 
                    home-lander-msg w3-animate-opacity"
        style="width: 80%; margin-top: 5%;"
        [style.color]="flow.colour" 
        [style]="'border: 2px solid ' + flow.colour"
        [innerHTML]="flow.title[lang] | sanitize">
          {{flow.title[lang]}}
    </h1>
</div>
