mat-grid-list{
    width: 100%;
    margin: 8px auto;
}

.home-category-text{
    padding: 5%;
    transition: padding linear 0.5s;
    border: 3px solid black;
}

.home-category-text:hover{
    padding: 15%;
}