<!-- Implement the rest of the page flow -->
<ng-container *ngFor="let flow of pageFlow; index as i">
  <ng-container [ngSwitch]="flow.type">
    <app-lander *ngSwitchCase="'lander'" [lang]="siteLang" [flow]="flow"
      [imgSrc]="flow.type + '-' + i.toString() | flowImage : images.list : bucketUrl + images.path ">
    </app-lander>
    <app-product-gallery *ngSwitchCase="'product'" 
        [flow]="flow" [screenType]="screenType" [lang]="siteLang" [currency]="currency">
    </app-product-gallery>
    <app-category-gallery *ngSwitchCase="'category-list'" [flow]="flow"
          [screenType]="screenType" [lang]="siteLang"  [currency]="currency">
    </app-category-gallery>
    <app-category-link *ngSwitchCase="'category-link'" [lang]="siteLang" [screenType]="screenType"
        [flow]="flow"
        [imgSrc]="flow.type + '-' + i.toString() | flowImage : images.list : bucketUrl + images.path ">
    </app-category-link>
  </ng-container>
</ng-container>

