<div class="my-theme-primary-background" id="footer">
    <ng-container *ngFor="let langOption of availableLangs;">
        <ng-container *ngIf="langOption !== lang">
            <a class="underlined" [href]="currentUrl | langUrl : lang : langOption">{{langDict[langOption]}}</a>
        </ng-container>
    </ng-container>

    <div>
        <ng-container *ngFor="let link of externalLinks">
            <ng-container [ngSwitch]="link.name">
                <a *ngSwitchCase="'facebook'" [href]="link.link" target="_blank">
                    <mat-icon fontSet="fa" fontIcon="fa-facebook"></mat-icon>
                </a>
                <a *ngSwitchCase="'instagram'" [href]="link.link" target="_blank">
                    <mat-icon fontSet="fa" fontIcon="fa-instagram"></mat-icon>
                </a>

            </ng-container>
        </ng-container>
    </div>
    <div class="w3-margin-top"> 
        <mat-icon fontSet="fa" fontIcon="fa-copyright"></mat-icon>Copyright 2021
    </div>
    <br>
    <div>
        <a class="underlined" [routerLink]="['legal']" 
                i18n="@@LegalInformation">
            Legal Information
        </a>
    </div>
    
    <div class="w3-stretch">
        <!-- PayPal Logo -->
        <table border="0" cellpadding="10" cellspacing="0" align="left"><tr><td align="left"></td></tr><tr><td align="left"><a href="https://www.paypal.com/webapps/mpp/paypal-popup" title="How PayPal Works" onclick="javascript:window.open('https://www.paypal.com/webapps/mpp/paypal-popup','WIPaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=1060, height=700'); return false;"><img src="https://www.paypalobjects.com/webstatic/mktg/logo/AM_mc_vs_dc_ae.jpg" border="0" alt="PayPal Acceptance Mark"></a></td></tr></table><!-- PayPal Logo -->
    </div>


</div>