<h2 class="mat-h2 w3-center" style="margin-top: 24px;">{{flow.title[lang]}}</h2>

<div class="w3-margin-top w3-container" style="width: 100%; padding: 0px !important">		
    <a  *ngFor="let item of categoryItems; first as f; even as e" [routerLink]="['/product', item.ItemId]"
        style="overflow: hidden" [style.width]="rowWidth" class="w3-left w3-margin-top"
        [ngClass]="{'app-margin-left': !f, 'clear': e && screenType === 'mobile'}"
        >
        <div class="image-holder grow-on-hover" style="height: 250px; width: 100%; overflow-y: hidden">
            <img [appLazyLoad]="bucketUrl + item.Images.path + item.Images.list[0].name | imageSource : 300" />
        </div>
        <div class="w3-center w3-padding">{{item.Title[lang]}}</div>
        <ng-container *ngIf="!(item | isCustom)">
            <div class="w3-center price">{{item.Price[currency.toLowerCase()] | currency : currency}}</div>
        </ng-container>
    </a>
</div>
